---
# Sections sorted by how likely they are to be dealth with
# NB: clang-tidy runs clang-check (static analyzer)
Checks: "*,\
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-pro-bounds-constant-array-index,\
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,\
        -cppcoreguidelines-pro-type-member-init,\
        -cppcoreguidelines-pro-type-reinterpret-cast,\
        -google-explicit-constructor,\
        -google-readability-avoid-underscore-in-googletest-name,\
        -hicpp-explicit-conversions,\
        -misc-include-cleaner,
        -misc-non-private-member-variables-in-classes,\
        -modernize-use-nodiscard,\
        -readability-isolate-declaration
        \
        -altera-id-dependent-backward-branch,\
        -bugprone-easily-swappable-parameters,\
        -clang-analyzer-optin.portability.UnixAPI,\
        -cppcoreguidelines-avoid-do-while,\
        -cppcoreguidelines-macro-usage,\
        -cppcoreguidelines-no-malloc,\
        -fuchsia-default-arguments-calls,\
        -fuchsia-default-arguments-declarations,\
        -hicpp-deprecated-headers,\
        -hicpp-member-init,\
        -hicpp-no-malloc,\
        -misc-use-anonymous-namespace,\
        -modernize-concat-nested-namespaces,\
        -modernize-deprecated-headers,
        -portability-simd-intrinsics,\
        -readability-function-cognitive-complexity,\
        \
        -altera-struct-pack-align,\
        -altera-unroll-loops,\
        -android-cloexec-fopen,\
        -cppcoreguidelines-pro-type-vararg,\
        -fuchsia-statically-constructed-objects,\
        -google-readability-todo,\
        -hicpp-use-auto,\
        -hicpp-vararg,\
        -llvmlibc-callee-namespace,\
        -llvmlibc-implementation-in-namespace,-warnings-as-errors,\
        -llvmlibc-restrict-system-libc-headers,\
        -modernize-use-auto,\
        -modernize-use-trailing-return-type,\
        -readability-identifier-length,\
        "
WarningsAsErrors: "*"
